services:
  gltestserver:
    platform: linux/amd64
    build:
      context: ./greenlight
      dockerfile: docker/gl-testserver/Dockerfile
      args:
        DOCKER_USER: dev
        UID: 1000
        GID: 1000
        REPO_PATH: /repo
    user: root
    environment:
      - CARGO_TARGET_DIR=/usr/local
      - RUST_PROFILE=bin
    volumes:
      - greenlight-data:/repo/.gltestserver
      - ./node.py:/repo/libs/gl-testing/gltesting/node.py:ro

  rust-test:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/workspace
      - greenlight-data:/repo/.gltestserver
    working_dir: /workspace
    network_mode: "service:gltestserver"
    command: cargo run

volumes:
  greenlight-data:
