version: '3.8'

services:
  bitcoind:
    image: kylemanna/bitcoind
    container_name: bitcoind
    restart: unless-stopped
    volumes:
      - ${HOME}/.bitcoin:/bitcoin/.bitcoin
    #    healthcheck:
    #      test: [ "CMD-SHELL", "bitcoin-cli -regtest -rpcuser=user -rpcpassword=pass getblockchaininfo" ]
    command:
      - -regtest
      - -server
      - -rpcuser=user
      - -rpcpassword=pass
      - -rpcallowip=0.0.0.0/0
      - -rpcbind=0.0.0.0
      - -prune=550
      - -disablewallet=0
    ports:
      - "18443:18443"
    networks:
      - btc-ln

  alice:
    build:
      context: .
      dockerfile: Dockerfile.lightningd-peerswap
    image: lightningd-peerswap:latest
    container_name: alice
    restart: unless-stopped
    volumes:
      - ${HOME}/.lightning-alice:/root/.lightning
      - ./peerswap.conf:/root/.lightning/regtest/peerswap/peerswap.conf
      - ./policy.conf:/root/.lightning/regtest/peerswap/policy.conf
    command:
      - --network=regtest
      - --bitcoin-rpcconnect=bitcoind
      - --bitcoin-rpcport=18443
      - --bitcoin-rpcuser=user
      - --bitcoin-rpcpassword=pass
      - --plugin=/usr/local/libexec/c-lightning/plugins/peerswap
      - --addr=0.0.0.0:9735
      - --grpc-port=10001
    ports:
      - "9735:9735"
      - "10001:10001"
    networks:
      - btc-ln

  bob:
    build:
      context: .
      dockerfile: Dockerfile.lightningd-peerswap
    image: lightningd-peerswap:latest
    container_name: bob
    restart: unless-stopped
    volumes:
      - ${HOME}/.lightning-bob:/root/.lightning
      - ./peerswap.conf:/root/.lightning/regtest/peerswap/peerswap.conf
      - ./policy.conf:/root/.lightning/regtest/peerswap/policy.conf
    command:
      - --network=regtest
      - --bitcoin-rpcconnect=bitcoind
      - --bitcoin-rpcport=18443
      - --bitcoin-rpcuser=user
      - --bitcoin-rpcpassword=pass
      - --plugin=/usr/local/libexec/c-lightning/plugins/peerswap
      - --addr=0.0.0.0:9735
      - --grpc-port=10001
    ports:
      - "9736:9735"
      - "10002:10001"
    networks:
      - btc-ln

networks:
  btc-ln:
    driver: bridge
